{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-var-requires": "off",
		"import/no-cycle": "off",
		"react/react-in-jsx-scope": "off",
		"no-unused-vars": "off",
		"no-undef": "off"
	}
}
