// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Thin.woff2') format('woff2'),
    url('Pretendard-Thin.woff') format('woff'), 
    url('Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-ExtraLight.woff2') format('woff2'),
    url('Pretendard-ExtraLight.woff') format('woff'), 
    url('Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Light.woff2') format('woff2'),
    url('Pretendard-Light.woff') format('woff'), 
    url('Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Regular.woff2') format('woff2'),
    url('Pretendard-Regular.woff') format('woff'), 
    url('Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Medium.woff2') format('woff2'),
    url('Pretendard-Medium.woff') format('woff'), 
    url('Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-SemiBold.woff2') format('woff2'),
    url('Pretendard-SemiBold.woff') format('woff'), 
    url('Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Bold.woff2') format('woff2'),
    url('Pretendard-Bold.woff') format('woff'), 
    url('Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-ExtraBold.woff2') format('woff2'),
    url('Pretendard-ExtraBold.woff') format('woff'), 
    url('Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}

// prettier-ignore
@font-face {
  font-family: 'Pretendard';
  src: 
    local('Pretendard'), 
    url('Pretendard-Black.woff2') format('woff2'),
    url('Pretendard-Black.woff') format('woff'), 
    url('Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  font-display: optional;
}
